{% extends 'partials/base_userauths.html' %}
{% load static %}

{% block content %}
  {% if form.errors %}
    <div class="alert alert-danger">
      <strong>{{ form.errors }}</strong>
    </div>
  {% endif %}
 
  <form action="" method="POST" class="login100-form validate-form p-l-55 p-r-55 p-t-150">
    {% csrf_token %}

    <span class="login100-form-title">Create an Account</span>

    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
      {{ form.username }}
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
      {{ form.email }}
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter password">
      {{ form.password1 }}
      <span class="focus-input100"></span>
    </div>
    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter password">
      {{ form.password2 }}
      <span class="focus-input100"></span>
    </div>

    <div class="container-login100-form-btn m-b-25">
      <button type="submit" class="login100-form-btn">Submit & Register</button>
    </div>

    <div class="flex-col-c p-b-40">
      <span class="txt1 p-b-9">Do you already have an account?</span>

      <a href="{% url 'userauths:sign-in' %}" class="txt3">Sign in now</a>
    </div>
  </form>
{% endblock %}
